@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta charset="utf-8">
    <title>Larch Provissions</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/css/main.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="~/Content/js/scripts.js"></script>
</head>
<div class="wrapper">
    <!--// Carousel for header and sliding images -->
    <div class="row">
        <ul>
            <li><a href="#">Menu</a></li>
            <li><a href="~/about.html">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="Recipes">Recipes</a></li>
            <li><a href="Ingredients">Ingredients</a></li>
        </ul>
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="logo">
                <img src="~/Content/img/logo-trans.png" alt="Larch" />
            </div>
            <div class="item active">
                <img class="img-responsive" src="~/Content/img/carousel-couple-cooking.jpg" alt="">
                <div class="carousel-caption">
                    <h1 id="carousel-couple"></h1>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="~/Content/img/carousel-columbia.jpg" alt="Trees">
                <div class="carousel-caption">
                    <h1 id="carousel-columbia"></h1>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="~/Content/img/carousel-larch-mountain.jpg" alt="Kids">
                <div class="carousel-caption">
                    <h1 id="carousel-mountain"></h1>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="~/Content/img/carousel-road-fog.jpg" alt="Kids">
                <div class="carousel-caption">
                    <h1 id="carousel-road-fog"></h1>
                </div>
            </div>
            <div class="logo">
                <img src="img/logo-trans.png" alt="Larch" />
                <h1>_________ Let Us Do the Cooking _________</h1>
            </div>
        </div>
    </div>
    <!-- end of carousel -->
    <div class="content">
        <div class="column1">
            <p>Larch is a catering company located in Corbett, Oregon. We offer organic prepared meals, food provisions and catering services to the Corbett countryside, Columbia Gorge and National Scenic Area. We specialize in new American farm food, focused intently on locality, Northwest-regional food ways and micro-seasonal ingredients. Inspired by local and global flavors, wild edibles and the bounty of the Pacific Northwest - we aim to provide simple, healthy farm fare and ingredient-driven comfort foods prepared with both classic and modern techniques. In 2016 we will open a food cart and gathering space on the historic highway. With community and commerce in mind, we look forward to sharing our food with you.</p>
        </div>
        <div class="column2">
        </div>
        <div class="column3">
        </div>
    </div>
</div>