@{
    ViewBag.Title = "Larch Provisions";
}

<!--// Carousel for header and sliding images -->
<div id="home-carousel" class="carousel slide" data-ride="carousel" data-interval="10000">

    <!--// Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
        <li data-target="#home-carousel" data-slide-to="2"></li>
        <li data-target="#home-carousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">

        <div class="item active">
            <img class="img-responsive" src="~/Content/img/carousel-couple-cooking.png" alt="Larch Provisions in the kitchen">
            <div class="container">
                <div class="carousel-caption">

                    <br />
                    <h4>Larch specializes in new American farm food, focused intently on locality, Northwest-regional food ways and micro-seasonal ingredients.</h4>
                    <h4>Inspired by local and global flavors, wild edibles and the bounty of the Pacific Northwest</h4>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/img/carousel-road-fog.png" alt="The road to the kitchen">
            <div class="container">
                <div class="carousel-caption">
                    <br />
                    <h4>Pearched on the crest of the Columbia River Gorge Highway, Larch prepares innovative weekly meals for pick-up in Corbett, Oregon. </h4>
                    <h4>In 2016 we will open a food cart and gathering space on the historic highway. With community and commerce in mind, we look forward to sharing our food with you.</h4>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/img/carousel-larch-mountain.png" alt="Larch Mountain">
            <div class="container">
                <div class="carousel-caption">
                    <h4>Larch Provisions' namesake, nearby Larch Mountain, provides an exquisite natural area for hiking, picnicing, and fresh ingredients for our meals</h4>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/img/carousel-columbia.png" alt="The Beautiful Columbia Gorge">
            <div class="container">
                <div class="carousel-caption">
                    <h4>Larch provides simple, healthy farm fare and ingredient-driven comfort foods prepared with both classic and modern techniques. With community and commerce in mind, we look forward to sharing our food with you.</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end of carousel -->