@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LARCH PROVISIONS</h1>
    <p class="lead">Larch Provisions is a catering company</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Recipes</h2>
        <p>Click below to see everything we offer to eat.</p>
        <p><a class="btn btn-success" @Html.ActionLink("All Recipes", "Index", "Recipes")></a></p>
    </div>
    <div class="col-md-4">
        <h2>Ingredients</h2>
        <p>Click here to see all of the ingredients for our recipes.</p>
        <p><a class="btn btn-success" @Html.ActionLink("All Ingredients", "Index", "Ingredients")></a></p>
    </div>
</div>