@{
    ViewBag.Title = "Menu";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


  <head>
    <meta charset="utf-8">
    <title>Larch Provissions</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/css/main.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="~/Content/js/scripts.js"></script>
  </head>
  <body>
    <div class="menu-wrapper">
      <div class="nav">
        <p class="menu-tittle">Larch Provisions</p>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </body>
