@{
    ViewBag.Title = "Menu";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<    <div class="menu-wrapper">
      <div class="nav">
        <p class="menu-tittle">Larch Provisions</p>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <br>
      <img class="menu-cover" src="~/Content/img/menu-cover3.jpg" alt="" />
        <div class="menu-content-main">
          <h1>Welcome to Larch Provisions weekly freshly prepared meal service by Emily Cafazzo &amp; Ryan Domingo.</h1>
          <p>We cook healthy, balanced meals using as many local, organic &amp; seasonal ingredients as possible; showcasing the bounty of the Pacific Northwest.</p>
        </div>
        <div class="menu-content-body">
          <ol>
            <li>Orders must be placed by noon on Sunday! for pickup the following Tuesday</li>
            <li>Pickup of pre-ordered meals is from 3-7pm on Tuesday at
                36333 E Historic Columbia River Hwy Corbett, OR 97019</li>
            <li>We accept Cash &amp; Check &amp; now Paypal! </li>
            <li>Weekly emails with weekly menu options will be sent the previous Thursday</li>
            <li>If you have friends or neighbors who would be interested-- please forward this email along</li>
            <li>Please let us know all dietary restrictions in advance</li>
            <li>Meals come prepackaged in microwaveable (reusable) containers packaged per serving</li>
            <li>Consider bringing a bag if you order more than 3 servings for ease of transport</li>
            <li>We love to reuse clean containers! Just remove stickers from lids BEFORE washing or microwaving or after the dry again. </li>
            <li>*Prices below are a suggested donation. Everyone deserves access to good food</li>
            <li>Enjoy! </li>
          </ol>
        </div>
      </div>
    </div>
