@{
    ViewBag.Title = "Menu";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="menu-wrapper">
  <div class="nav">
    <p class="menu-tittle">Larch Provisions</p>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>
