/**
 * Basic typography style for copy text
 */

  /* Basic styles for links
  */
 a {
   color: $base-text-color;
   text-decoration: none;

   @include on-event {
     color: $base-text-color;
     text-decoration: underline;
   }
 }


body {
  color: $base-text-color;
  background-color: $background-color;
  font: normal 125% / 1.4 $content-font-stack;
  // font-size: 13px;
  // line-height: 20px;
}
